name: setting up pipeline

on:
  push:
    branches: [ main ]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

      
    - name: terraform config
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.0
        
    - name: aws-cli
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION}}

    - name: Run Terraform
      run: |
        terraform init
        terraform validate
        terraform plan
        terraform apply -auto-approve  

    - name: Install ansible
      run: |
        sudo apt update -y
        sudo apt install ansible -y

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        printf '%s\n' "${{ secrets.MINE_LAPTOP_PEM }}" > ~/.ssh/mine-laptop.pem
        chmod 600 ~/.ssh/mine-laptop.pem
   

    - name: Run ansible
      run: |
        ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i inventory.ini playbook.yaml


   
       
      
        
        


